<label>
  this is pagination
</label>
<div class="pagination container-fluid" *ngIf="count > 0">
  <div class="row">
    <div class="col-md-12">
      <span>{{getMin()}} of {{getMax()}} of {{count}}</span>
      <span>Total: {{totalPages()}} pages</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button (click)="onPrev()" [disabled]="page===1 || loading">Previous</button>
      <button *ngFor="let pageNum of getPages()" (click)="onPage(pageNum)">{{pageNum}}</button>
      <button (click)="onNext()" [disabled]="lastPage() || loading">Next</button>
    </div>
  </div>
</div>
